<!DOCTYPE html>
<html>
    <head>
        <title>Clash-Team-Analyzer</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/semanticui/darkly.css">
    </head>
    <body>
        <div class="ui container">
            <img class="ui fluid image" src="assets/clash.png"><br>
            <h1 class="ui header center aligned">Team-Analyser</h1>
            <div class="ui divider"></div>
            {% if demo %}
            <div class="ui error message">
                <div class="header">Invalid API key.</div>
                <p>This instance of the "Clash-Team-Analyzer" is currently running without a valid API-Key, and therefore, analyzing has been disabled.
                    However, you can look up demo-data <a href="/demodata">here.</a></p>
            </div>
            <div class="ui divider"></div>
            {% endif %}
            <div class="ui labeled inverted fluid input">
                <div class="ui blue label">Player 1</div>
                <input type="text" id="p1">
            </div><br>
            <div class="ui labeled inverted fluid input">
                <div class="ui blue label">Player 2</div>
                <input type="text" id="p2">
            </div><br>
            <div class="ui labeled inverted fluid input">
                <div class="ui blue label">Player 3</div>
                <input type="text" id="p3">
            </div><br>
            <div class="ui labeled inverted fluid input">
                <div class="ui blue label">Player 4</div>
                <input type="text" id="p4">
            </div><br>
            <div class="ui labeled inverted fluid input">
                <div class="ui blue label">Player 5</div>
                <input type="text" id="p5">
            </div><br>
            <div class="ui grid">
                <div class="four wide column">
                    <div class="ui selection dropdown" id="regionDropdown">
                        <input type="hidden" id="regionSelect">
                        <i class="dropdown icon"></i>
                        <div class="default text">EUW</div>
                    </div>
                </div>
                <div class="twelve wide column">
                    <button class="fluid ui green button" id="send">Analyze</button>
                </div>
            </div>
            
            <div class="ui divider"></div>
            {% if not demo %}
            <h3 class="ui header" id="status">Status: not analyzing</h3>
            {% else %}
            <h3 class="ui header">Status: Invalid API-Key</h3>
            {% endif %}
            <div class="ui progress" id="progressbar">
                <div class="bar">
                    <div class="progress"></div>
                </div>
            </div>
            <div class="ui divider"></div>
            <a href="statistics" style="margin-right: 15px;">Statistics</a>
            <a href="demodata" style="margin-right: 15px;">Demo-Data</a>
            <a href="http://github.com/c0dermo/clash-team-analyzer" target="_blank">GitHub</a>
            <br><br>
            <p style="font-size: 8pt">Clash-Team-Analyzer isn&apos;t endorsed by Riot Games and doesn&apos;t reflect the views or opinions of Riot Games
                or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are
                trademarks or registered trademarks of Riot Games, Inc. League of Legends &copy; Riot Games, Inc.</p>

        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
        <script src="/assets/semanticui/semantic.js"></script>
        <script>
            {% if not demo %}
            var socket = io.connect();

            document.getElementById("send").onclick = function() {
                var p1 = $('#p1').val();
                var p2 = $('#p2').val();
                var p3 = $('#p3').val();
                var p4 = $('#p4').val();
                var p5 = $('#p5').val();
                
                socket.emit('analyzeStart', {"players": [p1, p2, p3, p4, p5], "region": $('#regionSelect').val()})
                $('#progressbar').progress({
                    autoSuccess: false,
                    percent: 0
                }).addClass("warning").removeClass("success").removeClass("error");
                $('#send').addClass('loading');
                $('#status').text("Status: Starting analyze...")
            }

            socket.on('analyzeSuccessful', function(msg) {
                console.log("Analyze successful! Redirect: " + msg)
                $('#progressbar').progress({
                    percent: 100
                }).removeClass("warning").addClass("success");
                $('#send').removeClass('loading');
                $('#status').text("Status: Analyze complete! Redirecting...")
                window.location.href = msg;
            });

            socket.on('analyzeUpdate', function(msg) {
                console.log('Analyze update: ' + msg)
                $('#progressbar').progress({
                    percent: ((msg.current/msg.max)*100)
                }).addClass('warning');
                $('#status').text("Status: " + msg.status)
            });
            
            socket.on('analyzeFailed', function(msg) {
                $('#progressbar').addClass('error').removeClass('warning');
                $('#send').removeClass('loading');
                $('#status').text("Status: " + msg + " Please check your player names and retry.")
            });
            {% endif %}

            $('#regionDropdown').dropdown({
                values: [
                    {
                        name: "BR",
                        value: "br"
                    },
                    {
                        name: "EUNE",
                        value: "eune"
                    },
                    {
                        name: "EUW",
                        value: "euw",
                        selected: true
                    },
                    {
                        name: "JP",
                        value: "jp"
                    },
                    {
                        name: "KR",
                        value: "kr"
                    },
                    {
                        name: "LAN",
                        value: "lan"
                    },
                    {
                        name: "LAS",
                        value: "las"
                    },
                    {
                        name: "NA",
                        value: "na"
                    },
                    {
                        name: "OCE",
                        value: "oce"
                    },
                    {
                        name: "RU",
                        value: "ru"
                    },
                    {
                        name: "TR",
                        value: "tr"
                    }
                ]
            });
        </script>
    </body>
</html>