<!DOCTYPE html>
<html>
    <head>
        <title>Clash-Team-Breakdown</title>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
        <link rel="stylesheet" href="/assets/semanticui/darkly.css">
    </head>
    <body>
        <div class="ui container">
            <br>
            <h1 class="ui header">Clash Team Breakdown</h1>
            <div class="ui divider"></div>
            <div class="ui grid">
                {% for player in players %}
                    <div class="row">
                        <div class="eight wide column">
                            <h2 class="ui header">{{player.getSummonerName()}}</h2>
                        </div>
                        <div class="eight wide column">
                            <div class="ui multiple progress" data-percent="{{player.getToplanePercent()}},{{player.getJunglePercent()}},{{player.getMidlanePercent()}},{{player.getAdcPercent()}},{{player.getSupportPercent()}}">
                                <div class="blue bar popupbar" data-content="{{player.getToplanePercent()}}% Toplane"></div>
                                <div class="green bar popupbar" data-content="{{player.getJunglePercent()}}% Jungle"></div>
                                <div class="red bar popupbar" data-content="{{player.getMidlanePercent()}}% Midlane"></div>
                                <div class="yellow bar popupbar" data-content="{{player.getAdcPercent()}}% ADC"></div>
                                <div class="purple bar popupbar" data-content="{{player.getSupportPercent()}}% Support"></div>
                              </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="right floated eight wide column">
                        <div class="ui divider"></div>
                        Calculated based on the last 30 days of Draft Pick & Solo/Duo games
                    </div>
                </div>
            </div>
            <br><br>
            <div class="ui top attached inverted tabular menu">
                <a class="item active" data-tab="overview">Overview</a>
                {% for player in players %}
                <a class="item" data-tab="{{player.getSummonerName(True)}}">{{player.getSummonerName()}}</a>
                {% endfor %}
            </div>
            <div class="ui bottom inverted attached tab segment active" data-tab="overview">
                Matches played as full team: {{matchesPlayedAsTeam}}<br><br>

                Matches played together:
                <table class="ui basic inverted table">
                    <thead>
                        <tr>
                            <th></th>
                            {% for player in players %}
                            <th>{{player.getSummonerName()}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in players %}
                        <tr>
                            <td>{{ player.getSummonerName() }}</td>
                            {% for player2 in players %}
                                {% if player == player2 %}
                                    <td class="disabled">-</td>
                                {% else %}
                                    <td>{{ player.getMatchesPlayedWith(player2) }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% for player in players %}
            <div class="ui bottom inverted attached tab segment" data-tab="{{player.getSummonerName(True)}}">
                <h2 class="ui header">{{player.getSummonerName()}} - Level {{player.getSummonerLevel()}}</h3>
                <h3 class="ui header">Winrate: {{player.getWinRate()}}%</h4>
                <h3 class="ui header">Average KDA: {{player.getAvgKDAString()}}</h4>
                <div class="ui tiny header" style="border-top: 1px solid #464545;">Calculated based on the last {{player.getAnalyzedMatches()}} games</div>
                <br>
                <h4 class="ui header">Solo/Duo-Rank: {{player.getSoloDuoRankString()}}</h5>
                <h5 class="ui header">Solo/Duo-Winrate: {{player.getSoloDuoWR()}}%</h6>
                <br>
                <h4 class="ui header">Flex-Rank: {{player.getFlexRankString()}}</h5>
                <h5 class="ui header">Flex-Winrate: {{player.getFlexWR()}}%</h6>
                <br><br>
                <div class="ui grid">
                    <div class="eight wide column">
                        Champion Mastery:<br>
                        <table class="ui inverted compact table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Champion</th>
                                    <th>Level</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for champ in mastery[player] %}
                                <tr>
                                    <td><img src="http://ddragon.leagueoflegends.com/cdn/{{patch}}/img/champion/{{champ["champID"]}}.png" style="width: 60px; height: 60px;"></td>
                                    <td>{{champ["champ"]}}</td>
                                    <td>{{champ["level"]}}</td>
                                    <td>{{champ["points"]}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="eight wide column">
                        Most played champions in the last 30 days:<br>
                        <table class="ui inverted compact table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Champion</th>
                                    <th>Times played</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for champ in mostPlayedChamps[player] %}
                                <tr>
                                    <td><img src="http://ddragon.leagueoflegends.com/cdn/{{patch}}/img/champion/{{mostPlayedChamps[player][champ]["champID"]}}.png" style="width: 60px; height: 60px;"></td>
                                    <td>{{mostPlayedChamps[player][champ]["champ"]}}</td>
                                    <td>{{mostPlayedChamps[player][champ]["times"]}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <script src="/assets/semanticui/semantic.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
        <script>
            $('.ui.multiple.progress').progress({showActivity: false});
            $('.popupbar').popup();
            $('.menu .item').tab();
        </script>
    </body>
</html>