<!DOCTYPE html>
<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h1 class="border-bottom">Clash Team Breakdown</h1>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 offset-md-1">
                    <h2>%P1</h2>
                </div>
                <div class="col-md-6">
                    <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: %P1-TOP%" aria-valuenow="%P1-TOP" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P1-TOP% Top"></div>
                            <div class="progress-bar bg-success" role="progressbar" style="width: %P1-JNG%" aria-valuenow="%P1-JNG" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P1-JNG% Jungle"></div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: %P1-MID%" aria-valuenow="%P1-MID" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P1-MID% Mid"></div>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: %P1-ADC%" aria-valuenow="%P1-ADC" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P1-ADC% ADC"></div>
                            <div class="progress-bar bg-dark" role="progressbar" style="width: %P1-SUP%" aria-valuenow="%P1-SUP" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P1-SUP% Support"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-1">
                    <h2>%P2</h2>
                </div>
                <div class="col-md-6">
                        <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: %P2-TOP%" aria-valuenow="%P2-TOP" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P2-TOP% Top"></div>
                                <div class="progress-bar bg-success" role="progressbar" style="width: %P2-JNG%" aria-valuenow="%P2-JNG" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P2-JNG% Jungle"></div>
                                <div class="progress-bar bg-danger" role="progressbar" style="width: %P2-MID%" aria-valuenow="%P2-MID" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P2-MID% Mid"></div>
                                <div class="progress-bar bg-warning" role="progressbar" style="width: %P2-ADC%" aria-valuenow="%P2-ADC" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P2-ADC% ADC"></div>
                                <div class="progress-bar bg-dark" role="progressbar" style="width: %P2-SUP%" aria-valuenow="%P2-SUP" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P2-SUP% Support"></div>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-1">
                    <h2>%P3</h2>
                </div>
                <div class="col-md-6">
                        <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: %P3-TOP%" aria-valuenow="%P3-TOP" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P3-TOP% Top"></div>
                                <div class="progress-bar bg-success" role="progressbar" style="width: %P3-JNG%" aria-valuenow="%P3-JNG" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P3-JNG% Jungle"></div>
                                <div class="progress-bar bg-danger" role="progressbar" style="width: %P3-MID%" aria-valuenow="%P3-MID" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P3-MID% Mid"></div>
                                <div class="progress-bar bg-warning" role="progressbar" style="width: %P3-ADC%" aria-valuenow="%P3-ADC" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P3-ADC% ADC"></div>
                                <div class="progress-bar bg-dark" role="progressbar" style="width: %P3-SUP%" aria-valuenow="%P3-SUP" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P3-SUP% Support"></div>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-1">
                    <h2>%P4</h2>
                </div>
                <div class="col-md-6">
                        <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: %P4-TOP%" aria-valuenow="%P4-TOP" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P4-TOP% Top"></div>
                                <div class="progress-bar bg-success" role="progressbar" style="width: %P4-JNG%" aria-valuenow="%P4-JNG" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P4-JNG% Jungle"></div>
                                <div class="progress-bar bg-danger" role="progressbar" style="width: %P4-MID%" aria-valuenow="%P4-MID" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P4-MID% Mid"></div>
                                <div class="progress-bar bg-warning" role="progressbar" style="width: %P4-ADC%" aria-valuenow="%P4-ADC" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P4-ADC% ADC"></div>
                                <div class="progress-bar bg-dark" role="progressbar" style="width: %P4-SUP%" aria-valuenow="%P4-SUP" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P4-SUP% Support"></div>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-1">
                    <h2>%P5</h2>
                </div>
                <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: %P5-TOP%" aria-valuenow="%P5-TOP" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P5-TOP% Top"></div>
                            <div class="progress-bar bg-success" role="progressbar" style="width: %P5-JNG%" aria-valuenow="%P5-JNG" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P5-JNG% Jungle"></div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: %P5-MID%" aria-valuenow="%P5-MID" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P5-MID% Mid"></div>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: %P5-ADC%" aria-valuenow="%P5-ADC" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P5-ADC% ADC"></div>
                            <div class="progress-bar bg-dark" role="progressbar" style="width: %P5-SUP%" aria-valuenow="%P5-SUP" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="%P5-SUP% Support"></div>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-5">
                    <h7 class="border-top font-weight-lighter">Calculated based on the last 30 days of Draft Pick & Solo/Duo games</h7>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <ul class="nav nav-tabs" id="mainTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="generalTab" data-toggle="tab" href="#generalTabDiv" role="tab" aria-controls="generalTab" aria-selected="true">General</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="p1Tab" data-toggle="tab" href="#p1TabDiv" role="tab" aria-controls="p1Tab" aria-selected="false">%P1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="p2Tab" data-toggle="tab" href="#p2TabDiv" role="tab" aria-controls="p2Tab" aria-selected="false">%P2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="p3Tab" data-toggle="tab" href="#p3TabDiv" role="tab" aria-controls="p3Tab" aria-selected="false">%P3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="p4Tab" data-toggle="tab" href="#p4TabDiv" role="tab" aria-controls="p4Tab" aria-selected="false">%P4</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="p5Tab" data-toggle="tab" href="#p5TabDiv" role="tab" aria-controls="p5Tab" aria-selected="false">%P5</a>
                        </li>
                    </ul>
                        
                    <div class="tab-content">
                        <div class="tab-pane active" id="generalTabDiv" role="tabpanel" aria-labelledby="generalTab">There might be some info here. Eventually. Sometime.</div>
                        <div class="tab-pane" id="p1TabDiv" role="tabpanel" aria-labelledby="p1Tab">
                            <br>
                            <h4>%P1 - Level %LEVEL-P1</h4>
                            <br>
                            <h5>Winrate: %WR-P1</h5>
                            <h5>Average KDA: %KDA-P1</h5>
                            <h7 class="border-top font-weight-lighter">Calculated based on the last %P1-GAMES games</h7>
                            <br>
                            <br>
                            <h5>Solo/Duo-Rank: %SD-P1</h5>
                            <h6>Solo/Duo-Winrate: %WR-SD-P1</h6>
                            <br>
                            <h5>Flex-Rank: %FLEX-P1</h5>
                            <h6>Flex-Winrate: %WR-FLEX-P1</h6>
                            <br>
                            <br>
                            <ul class="nav nav-tabs" id="p1Tabs">
                                <li class="nav-item">
                                    <a class="nav-link" id="p1Mastery" data-toggle="tab" href="#p1MasteryDiv" role="tab" aria-controls="p1Mastery" aria-selected="true">Mastery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="p1MostPlayed" data-toggle="tab" href="#p1MostPlayedDiv" role="tab" aria-controls="p1MostPlayed" aria-selected="true">Most Played</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="p1MasteryDiv" role="tabpanel" aria-labelledby="p1Mastery">
                                    <table class="table">
                                        <thead>
                                            <th scope="col">#</th>
                                            <th scope="col"></th>
                                            <th scope="col">Champion</th>
                                            <th scope="col">Level</th>
                                            <th scope="col">Points</th>
                                        </thead>
                                        <tbody>
                                            %P1-MASTERY
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="p1MostPlayedDiv" role="tabpanel" aria-labelledby="p1MostPlayed">
                                    <h7 class="border-botto font-weight-lighter">Calculated based on the last 30 days of Draft Pick & Solo/Duo games</h7>
                                        <table class="table">
                                            <thead>
                                                <th scope="col">#</th>
                                                <th scope="col"></th>
                                                <th scope="col">Champion</th>
                                                <th scope="col">Times played</th>
                                            </thead>
                                            <tbody>
                                                %P1-MOSTPLAYED
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="p2TabDiv" role="tabpanel" aria-labelledby="p2Tab">
                                <br>
                                <h4>%P2 - Level %LEVEL-P2</h4>
                                <br>
                                <h5>Winrate: %WR-P2</h5>
                                <h5>Average KDA: %KDA-P2</h5>
                                <h7 class="border-top font-weight-lighter">Calculated based on the last %P2-GAMES games</h7>
                                <br>
                                <br>
                                <h5>Solo/Duo-Rank: %SD-P2</h5>
                                <h6>Solo/Duo-Winrate: %WR-SD-P2</h6>
                                <br>
                                <h5>Flex-Rank: %FLEX-P2</h5>
                                <h6>Flex-Winrate: %WR-FLEX-P2</h6>
                                <br>
                                <br>
                                <ul class="nav nav-tabs" id="p2Tabs">
                                    <li class="nav-item">
                                        <a class="nav-link" id="p2Mastery" data-toggle="tab" href="#p2MasteryDiv" role="tab" aria-controls="p2Mastery" aria-selected="true">Mastery</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="p2MostPlayed" data-toggle="tab" href="#p2MostPlayedDiv" role="tab" aria-controls="p2MostPlayed" aria-selected="true">Most Played</a>
                                    </li>
                                </ul>
    
                                <div class="tab-content">
                                    <div class="tab-pane active" id="p2MasteryDiv" role="tabpanel" aria-labelledby="p2Mastery">
                                            <table class="table">
                                                <thead>
                                                    <th scope="col">#</th>
                                                    <th scope="col"></th>
                                                    <th scope="col">Champion</th>
                                                    <th scope="col">Level</th>
                                                    <th scope="col">Points</th>
                                                </thead>
                                                <tbody>
                                                    %P2-MASTERY
                                                </tbody>
                                            </table>
                                    </div>
                                    <div class="tab-pane" id="p2MostPlayedDiv" role="tabpanel" aria-labelledby="p2MostPlayed">
                                        <h7 class="border-botto font-weight-lighter">Calculated based on the last 30 days of Draft Pick & Solo/Duo games</h7>
                                            <table class="table">
                                                    <thead>
                                                        <th scope="col">#</th>
                                                        <th scope="col"></th>
                                                        <th scope="col">Champion</th>
                                                        <th scope="col">Times played</th>
                                                    </thead>
                                                    <tbody>
                                                        %P2-MOSTPLAYED
                                                    </tbody>
                                                </table>
                                    </div>
                                </div>
                        </div>
                        <div class="tab-pane" id="p3TabDiv" role="tabpanel" aria-labelledby="p3Tab">
                                <br>
                                <h4>%P3 - Level %LEVEL-P3</h4>
                                <br>
                                <h5>Winrate: %WR-P3</h5>
                                <h5>Average KDA: %KDA-P3</h5>
                                <h7 class="border-top font-weight-lighter">Calculated based on the last %P3-GAMES games</h7>
                                <br>
                                <br>
                                <h5>Solo/Duo-Rank: %SD-P3</h5>
                                <h6>Solo/Duo-Winrate: %WR-SD-P3</h6>
                                <br>
                                <h5>Flex-Rank: %FLEX-P3</h5>
                                <h6>Flex-Winrate: %WR-FLEX-P3</h6>
                                <br>
                                <br>
                                <ul class="nav nav-tabs" id="p3Tabs">
                                    <li class="nav-item">
                                        <a class="nav-link" id="p3Mastery" data-toggle="tab" href="#p3MasteryDiv" role="tab" aria-controls="p3Mastery" aria-selected="true">Mastery</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="p3MostPlayed" data-toggle="tab" href="#p3MostPlayedDiv" role="tab" aria-controls="p3MostPlayed" aria-selected="true">Most Played</a>
                                    </li>
                                </ul>
    
                                <div class="tab-content">
                                    <div class="tab-pane active" id="p3MasteryDiv" role="tabpanel" aria-labelledby="p3Mastery">
                                            <table class="table">
                                                <thead>
                                                    <th scope="col">#</th>
                                                    <th scope="col"></th>
                                                    <th scope="col">Champion</th>
                                                    <th scope="col">Level</th>
                                                    <th scope="col">Points</th>
                                                </thead>
                                                <tbody>
                                                    %P3-MASTERY
                                                </tbody>
                                            </table>
                                    </div>
                                    <div class="tab-pane" id="p3MostPlayedDiv" role="tabpanel" aria-labelledby="p3MostPlayed">
                                        <h7 class="border-botto font-weight-lighter">Calculated based on the last 30 days of Draft Pick & Solo/Duo games</h7>
                                            <table class="table">
                                                    <thead>
                                                        <th scope="col">#</th>
                                                        <th scope="col"></th>
                                                        <th scope="col">Champion</th>
                                                        <th scope="col">Times played</th>
                                                    </thead>
                                                    <tbody>
                                                        %P3-MOSTPLAYED
                                                    </tbody>
                                                </table>
                                    </div>
                                </div>
                        </div>
                        <div class="tab-pane" id="p4TabDiv" role="tabpanel" aria-labelledby="p4Tab">
                                <br>
                                <h4>%P4 - Level %LEVEL-P4</h4>
                                <br>
                                <h5>Winrate: %WR-P4</h5>
                                <h5>Average KDA: %KDA-P4</h5>
                                <h7 class="border-top font-weight-lighter">Calculated based on the last %P4-GAMES games</h7>
                                <br>
                                <br>
                                <h5>Solo/Duo-Rank: %SD-P4</h5>
                                <h6>Solo/Duo-Winrate: %WR-SD-P4</h6>
                                <br>
                                <h5>Flex-Rank: %FLEX-P4</h5>
                                <h6>Flex-Winrate: %WR-FLEX-P4</h6>
                                <br>
                                <br>
                                <ul class="nav nav-tabs" id="p4Tabs">
                                    <li class="nav-item">
                                        <a class="nav-link" id="p4Mastery" data-toggle="tab" href="#p4MasteryDiv" role="tab" aria-controls="p4Mastery" aria-selected="true">Mastery</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="p4MostPlayed" data-toggle="tab" href="#p4MostPlayedDiv" role="tab" aria-controls="p4MostPlayed" aria-selected="true">Most Played</a>
                                    </li>
                                </ul>
    
                                <div class="tab-content">
                                    <div class="tab-pane active" id="p4MasteryDiv" role="tabpanel" aria-labelledby="p4Mastery">
                                            <table class="table">
                                                <thead>
                                                    <th scope="col">#</th>
                                                    <th scope="col"></th>
                                                    <th scope="col">Champion</th>
                                                    <th scope="col">Level</th>
                                                    <th scope="col">Points</th>
                                                </thead>
                                                <tbody>
                                                    %P4-MASTERY
                                                </tbody>
                                            </table>
                                    </div>
                                    <div class="tab-pane" id="p4MostPlayedDiv" role="tabpanel" aria-labelledby="p4MostPlayed">
                                        <h7 class="border-botto font-weight-lighter">Calculated based on the last 30 days of Draft Pick & Solo/Duo games</h7>
                                            <table class="table">
                                                    <thead>
                                                        <th scope="col">#</th>
                                                        <th scope="col"></th>
                                                        <th scope="col">Champion</th>
                                                        <th scope="col">Times played</th>
                                                    </thead>
                                                    <tbody>
                                                        %P4-MOSTPLAYED
                                                    </tbody>
                                                </table>
                                    </div>
                                </div>
                        </div>
                        <div class="tab-pane" id="p5TabDiv" role="tabpanel" aria-labelledby="p5Tab">
                                <br>
                                <h4>%P5 - Level %LEVEL-P5</h4>
                                <br>
                                <h5>Winrate: %WR-P5</h5>
                                <h5>Average KDA: %KDA-P5</h5>
                                <h7 class="border-top font-weight-lighter">Calculated based on the last %P5-GAMES games</h7>
                                <br>
                                <br>
                                <h5>Solo/Duo-Rank: %SD-P5</h5>
                                <h6>Solo/Duo-Winrate: %WR-SD-P5</h6>
                                <br>
                                <h5>Flex-Rank: %FLEX-P5</h5>
                                <h6>Flex-Winrate: %WR-FLEX-P5</h6>
                                <br>
                                <br>
                                <ul class="nav nav-tabs" id="p5Tabs">
                                    <li class="nav-item">
                                        <a class="nav-link" id="p5Mastery" data-toggle="tab" href="#p5MasteryDiv" role="tab" aria-controls="p5Mastery" aria-selected="true">Mastery</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="p5MostPlayed" data-toggle="tab" href="#p5MostPlayedDiv" role="tab" aria-controls="p5MostPlayed" aria-selected="true">Most Played</a>
                                    </li>
                                </ul>
    
                                <div class="tab-content">
                                    <div class="tab-pane active" id="p5MasteryDiv" role="tabpanel" aria-labelledby="p5Mastery">
                                            <table class="table">
                                                <thead>
                                                    <th scope="col">#</th>
                                                    <th scope="col"></th>
                                                    <th scope="col">Champion</th>
                                                    <th scope="col">Level</th>
                                                    <th scope="col">Points</th>
                                                </thead>
                                                <tbody>
                                                    %P5-MASTERY
                                                </tbody>
                                            </table>
                                    </div>
                                    <div class="tab-pane" id="p5MostPlayedDiv" role="tabpanel" aria-labelledby="p5MostPlayed">
                                        <h7 class="border-botto font-weight-lighter">Calculated based on the last 30 days of Draft Pick & Solo/Duo games</h7>
                                            <table class="table">
                                                    <thead>
                                                        <th scope="col">#</th>
                                                        <th scope="col"></th>
                                                        <th scope="col">Champion</th>
                                                        <th scope="col">Times played</th>
                                                    </thead>
                                                    <tbody>
                                                        %P5-MOSTPLAYED
                                                    </tbody>
                                                </table>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
                $('#p1Tabs li:first-child a').tab('show')
                $('#p2Tabs li:first-child a').tab('show')
                $('#p3Tabs li:first-child a').tab('show')
                $('#p4Tabs li:first-child a').tab('show')
                $('#p5Tabs li:first-child a').tab('show')
            })
        </script>
    </body>
</html>